doctype html
html.no-js(lang='sv')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title St&#229; upp!
    link(href="http://fonts.googleapis.com/css?family=Montserrat:400,700", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Lobster", rel="stylesheet", type="text/css")
    link(rel='stylesheet', href='styles/app.css')
    script(src='bower_components/modernizr/modernizr.js')
  body
    .headline
      h1.headline__text STÅ UPP!
    .headline
      h2.headline__text Vi har stått upp i
        span.headline__text2
  include templates/random
  include templates/card

    //- Scripts
    //- ==========================================
    // script(src='scripts/app.js')
    script(src='scripts/vendor.js')
    script(src='scripts/main.js')
